{
    "warnings": {
        "warning": "This file is engine generated",
        "warning": "DO NOT CHANGE unless you know what you are doing"
    },
    "editor_state": {
        "active_displays": 2025,
        "gridSnap": true,
        "showAnimations": false,
        "showCollisions": false
    }
}